.c-light {
  color: #F2F0FF;
}

.c-white {
  color: white;
}

.c-dark {
  color: #383575;
}

.c-black {
  color: black;
}

.c-aqua {
  color: #44EBE1;
}

.c-lilla {
  color: #8B80F8;
}

.b-light {
  background-color: #F2F0FF;
}

.b-dark {
  background-color: #383575;
}

.b-aqua {
  background-color: #44EBE1;
}

.b-lilla {
  background-color: #8B80F8;
}