.c-main {
  opacity: 0;
  visibility: hidden;
  background-color: #ECEBFB;
  transition: all 1s ease-in-out;
}

.c-main_active {
  opacity: 1;
  visibility: visible;
}

.c-hero {
  width: 100%;
  position: relative;
  margin-bottom: 300px;
}

.c-hero > img {
  width: 100%;
  height: auto;
}

.c-hero_text {
  position: absolute;
  top: 140px;
  left: 40px;
}

.c-hero_text > p {
  font-size: 40px;
  line-height: 1.16;
  font-weight: 500;
}

.c-hero_button {
  background: transparent;
  border: none;
  text-decoration: underline;
}

.c-description {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 90px;
  margin: 0 auto;
  margin-bottom: 260px;
}

.c-description_item > img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.c-description_item > p {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.76;
}

.c-step {
  margin-bottom: 260px;
}

.c-step_content {
  display: flex;
}

.c-step_item, .c-step_desc {
  height: 100vh;
  text-align: center;
}

.c-step_item {
  width: 50%;
  position: sticky;
  top: 0;
  left: 0;
}

.c-step_col {
  width: 50%;
}

.c-step_col > img {
  display: block;
  width: auto;
  height: 80vh;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 20vh;
}

.c-step_desc {
  width: 100%;
}

.c-step_desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-step_desc > p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.76;
  padding: 40px;
}

.c-step_item {
  padding: 100px;
}

.c-step_item > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 25vh;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  border: 5px solid white;
  border-radius: 50%;
}

.c-step_item > p {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.16;
  max-width: 500px;
  margin: 0 auto;
}

.c-faq {
  padding: 120px 10vw;
  padding-bottom: 0;
}

.c-faq_header {
  display: flex;
  align-items: center;
}

.c-faq_header > h6 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}

.c-faq_header > svg {
  margin-right: 30px;
}

.c-faq_list {
  list-style: none;
  padding: 0;
}

.c-faq_toggle {
  cursor: pointer;
  transition: all 0.8s cubic-bezier(.77,.01,.42,.99);
}

.c-faq_toggle_active {
  transform: rotate(45deg);
}

.c-faq_desc {
  opacity: 1;
  visibility: visible;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 30px;
  padding-left: 61px;
  margin-bottom: 40px;
  transition: height 0.8s cubic-bezier(.77,.01,.42,.99), opacity 0.6s 0.6s cubic-bezier(.77,.01,.42,.99);
}

.c-faq_desc_disabled {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.c-faq_info {
  padding-left: 61px;
}

.c-faq_questions {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.34;
  margin-bottom: 40px;
  color: black;
}

.c-faq_questions > span {
  color: black;
  font-size: 16px;
}

.c-faq_app {
  display: inline-block;
  font-size: 30px;
  padding: 30px 20px;
  background-color: #8B80F8;
  color: white;
  border-radius: 20px;
  margin-top: 100px;
}

.c-faq_mail {
  color: #8B80F8;
  text-decoration: underline;
}

.c-faq > img {
  display: block;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-top: -20%;
}

@media screen and (max-width: 850px) {
  .c-hero {
    margin-bottom: 200px;
  }

  .c-hero > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .c-hero_text > p {
    font-size: 21px;
  }

  .c-description {
    display: block;
  }

  .c-description_item {
    margin-bottom: 80px;
  }

  .c-step {
    margin-bottom: 80px;
  }

  .c-step_content {
    display: block;
  }

  .c-step_item {
    position: relative;
    padding: 80px 40px;
  }

  .c-step_item, .c-step_col {
    width: 100%;
  }

  .c-step_item > span {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 60px;
  }

  .c-step_item > p {
    font-size: 28px;
  }

  .c-step_desc > p {
    padding: 0 40px;
    font-size: 21px;
  }

  .c-faq {
    padding: 60px 20px;
    padding-bottom: 0;
  }

  .c-faq_header > svg {
    flex: 0 0 auto;
    width: 20px;
    height: auto;
    margin-right: 20px;
  }

  .c-faq_header > h6 {
    font-size: 24px;
  }

  .c-faq_desc {
    font-size: 16px;
    padding-top: 20px;
    padding-left: 40px;
  }

  .c-faq_info {
    padding-left: 40px;
  }

  .c-faq_questions {
    font-size: 24px;
  }

  .c-faq_questions > span {
    display: block;
    margin-top: 20px;
  }

  .c-faq_app {
    margin-top: 60px;
  }

  .c-faq > img {
    margin-top: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .c-description_item > p {
    font-size: 18px;
  }

  .c-step_item > span {
    font-size: 34px;
    width: 60px;
    height: 60px;
    margin-bottom: 18vh;
  }

  .c-step_item > p {
    font-size: 40px;
    max-width: 600px;
  }

  .c-step_desc > p {
    font-size: 21px;
    padding: 40px;
  }
}
