.c-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.c-indicator > img {
  width: 80px;
  height: auto;
}

.c-indicator_active {
  opacity: 1;
  visibility: visible;
}

.c-spacer {
  width: 23px;
  height: 23px;
  font-size: 21px;
  font-weight: medium;
}

.c-line_container {
  position: relative;
  width: 80%;
  height: 10px;
  background-color: rgba(220, 220, 220, 0.6);
  border-radius: 4px;
}

.c-line {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-radius: 4px;
  transition: width 1.2s cubic-bezier(.77,.01,.42,.99);
}

.c-line_close {
  cursor: pointer;
}

.c-line1 {
  width: 40%;
}

.c-line2 {
  width: 60%;
}

.c-line3 {
  width: 80%;
}

.c-line4 {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .c-indicator {
    padding: 20px;
  }

  .c-indicator > img {
    width: 50px;
  }

  .c-line_container {
    width: 65%;
  }

  .c-line_close {
    width: auto;
    height: 20px;
  }
}